@import "../globals/_settings";

.banner {
  position: relative;
  max-width: 1240px;
  margin: 0 auto 20px;
  height: 223px;
  border-radius: 25px;
  overflow: hidden;
  box-shadow: $banner-box-shadow;
  background-size: cover;
  background-position: center;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $bgc-about-banner;
    z-index: 1;
  }

  &.banner-home::before {
    background-color: $bgc-home-banner;
  }

  h1 {
    position: relative;
    z-index: 2;
    font-size: 48px;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    letter-spacing: 1px;
    font-weight: bold;
    text-shadow: $text-shadow;
    -webkit-text-stroke: $-webkit-text-stroke;
  
  }
}

.banner h1 br {
  display: none;
}


@media (max-width: #{$tablets-phones}) {
  .banner {
    text-align: left;
    height: 111px;
    margin: 0 20px;

    h1 {
      font-size: 24px;
      padding: 0px 10px 0px 20px;
      text-shadow: none;
      -webkit-text-stroke: 0;
    }
  }
}

@media (max-width: #{$mobiles}) {
  .banner {
    text-align: left;
    margin: 0 20px;

    h1 {
      padding: 0px 10px 0px 20px;
    }
  }


  
}







