.banner {
  position: relative;
  max-width: 1240px;
  margin: 0 auto 20px;
  height: 223px;
  border-radius: 25px;
  overflow: hidden;
  box-shadow: $banner-box-shadow;
  background-size: cover;
  background-position: center;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $bgc-about-banner;
    z-index: 1;
  }

  &.banner-home::before {
    background-color: $bgc-home-banner;
  }

  h1 {
    position: relative;
    z-index: 2;
    font-size: 48px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    letter-spacing: 1px;
    font-weight: bold;
    //pour réaliser un text-stroke et ajouter une ombre / compatible avec tous les navigateurs
    text-shadow:   
    $text-stroke1, //détourage 1 
    $text-stroke2, //détourage 2 
    $text-stroke3, //détourage 3 
    $text-shade;   //Ombre du texte
    
    .title-break {
      display: inline;
      @media (max-width: #{$xsmall-mobiles}) { 
        display: block; // Force le passage à la ligne sur petits écrans
      }
    }
  }
}

// Media query pour tablettes
@media (max-width: #{$tablets}) {
  .banner {
    border-radius: 10px;
    text-align: left;
    height: 111px;
    margin: 0 20px;

    h1 {
      font-size: 24px;
      padding: 0px 10px 0px 20px;
      text-shadow: none;
      -webkit-text-stroke: 0;
    }
  }
}

// Media query pour petits mobiles
@media (max-width: #{$small-mobiles}) {
  .banner {
    text-align: left;
    margin: 0 0 20px 10px;
    box-shadow: none;
 
    h1 {
      padding: 0px 10px 0px 20px;
    }
  }
}

// Media query pour très petits mobiles (xsmall)
@media (max-width: #{$xsmall-mobiles}) {

  .banner h1 {
    transform: translateX(-25px); //Callé pour permettre un affichage sur un écran de 325px de width
  }

}








