.carrousel-container {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 415px;
  margin: 0 auto;
  max-width: 1240px;
  width: 100%;

  .carrousel-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
  }

  .carrousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 10;
  }

  .prev,
  .next {
    height: $xl-button-height;
    width: $xl-button-width;
    position: absolute;
    top: $xl-button-position;
    transform: translateY(-$xl-button-position);
  }

  .prev {
    left: $xl-button-offset;
  }

  .next {
    right: $xl-button-offset;
  }

  .carrousel-pagination {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 18px;
    font-weight: bold;
    background-color: $bgc-carousel-pagination;
    padding: 20px;
    border-radius: 5px;
  }
}

@media (max-width: #{$tablets}) {
  .carrousel-container {
    height: 255px;

    .carrousel-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 25px;
      margin: 0 10px;
    }

    .prev,
    .next {
      height: $xls-button-height;
      width: $xls-button-width;
      top: $xls-button-position;
      transform: translateY(-$xls-button-position);
    }

    .prev {
      left: $xls-button-offset;
    }

    .next {
      right: $xls-button-offset;
    }

    .carrousel-pagination {
      display: none;
    }
  }
}
