.carrousel-container {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 415px;
  margin: 0 auto;
  max-width: 1240px; 
  width: 100%;
  
  .carrousel-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
  }

  .carrousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 10;
  }

  .prev {
    height: 80px;  
    width: 47px;  
    left: 2%;
    top: 50%;
    transform: translateY(-50%);
  }

  .next {
    height: 80px;  
    width: 47px;   
    right: 2%;
    top: 50%;
    transform: translateY(-50%);
  }

  .carrousel-pagination {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 18px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.0);
    padding: 20px;
    border-radius: 5px;
  }
}

@media (max-width: 840px) {
  .carrousel-container {
    height: 255px;
    
    .prev, .next {
      height: 20px;  
      width: 12px;  
    }
    
    .prev {
      left: 25px;
    }
    
    .next {
      right: 25px;
    }
  
    .carrousel-pagination {
      display: none;
    }
  }
}