.content {
  max-width: 1023px;
  margin: 0 auto;
  padding: 20px;
}

.dropdown {
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }

  .dropdown-btn {
    @extend %flex-space-between;
    @include typo-collapse-title-xl;
    width: 100%;
    background-color: $bgc-primary;
    padding: 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-align: left;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: $color-primary-hover;
    }
  }

  .dropdown-content {
    @include typo-collapse-content-xl;
    max-height: 0;
    overflow: hidden;
    padding: 0 15px;
    background-color: $bgc-dropdown-content;
    border-radius: 0;
    margin-top: 5px;
    transition: max-height 0.5s ease, padding 0.5s ease;
    text-align: justify;

    &.show {
      max-height: 500px;
      padding: 15px 20px;
    }

    li {
      list-style: none;
    }
  }

  .dropdown-icon {
    width: 20px;
    height: 12px;
    transition: transform 0.3s ease;

    &.rotate {
      transform: rotate(180deg);
    }
  }
}

@media (max-width: #{$tablets}) {
  .dropdown {
    .dropdown-btn {
      @include typo-collapse-title-s;
    }
  
    .dropdown-content {
      @include typo-collapse-content-s; 
    }
  }
}
