/* Styles globaux du composant parent */

/* Section globale pour organiser le contenu */
.content {
    max-width: 1023px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
  }
  

  