.footer {
    @extend %flex-column-center !optional;
    padding: 50px 0px 30px 0px;
    background-color: $bgc-footer;
    width: auto;
    height: 209px;
    margin: 0px -20px 0px -20px;
    padding: 80px 0px 0px 0px;


    @media (max-width: #{$laptops}) {
      margin: 0;
    }

    @media (max-width: #{$tablets}) {
      margin: 0 -20px;
    }

    @media (max-width: #{$small-mobiles}) {
      margin: 0 -10px;
    }

    .logo-footer {
      margin-bottom: 30px;
  
      img {
        width: 100px;
        height: auto;
      }
    }
  
    .footer-text {
      color: $color-on-dark;
      font-size: 14px;
      text-align: center;
      margin: 0;
  
      .line-break {
        display: inline;
  
        @media (max-width: #{$small-mobiles}) {
          display: block; // Force le passage à la ligne sur petits écrans
        }
      }
    }
  
    @media (max-width: #{$small-mobiles}) {
      .footer-text {
        white-space: normal; // Permet le retour à la ligne sur petits écrans
      }
    }
  }
  
