.gallery-item {
  width: 340px;
  height: 340px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: white;
  display: flex;
  flex-direction: column;

  &:nth-child(-n+3) {
    margin-top: 50px;
  }
  
  &:nth-last-child(-n+1) {
    
    margin-bottom: 50px;
  }

  img {
    width: 340px;
    height: 340px;
    object-fit: cover;
  }

  
}

.gradient-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 30%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
}

.gallery-item-title-overlay {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white;
  z-index: 1;
  text-align: left;
}

.gallery-item-title-overlay h3 {
  font-size: 18px;
  font-weight: 700;
  line-height: 25.67px;
  margin: 0;
}
