.gallery {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 50px;
  justify-content: center;
  background-color: $bgc-gallery;
  max-width: 1240px;
  border-radius: 25px;
  margin: 56px auto;
  padding: 50px 20px 60px 20px;

  @media (max-width: #{$laptops}) {
      grid-template-columns: repeat(2, minmax(300px, 1fr));
      gap: 40px;
      padding-left: 50px;
      padding-right: 50px;
      padding-bottom: 50px;
    }

  @media (max-width: #{$tablets}) {
      grid-template-columns: 1fr;
      background-color: transparent;
      padding-left: 20px;
      padding-right: 20px;
      margin-top: 0px;
      margin-bottom: 0;
      gap: 30px;
    }

  @media (max-width: #{$small-mobiles}) {
      padding: 0 0 20px 10px;
      gap: 20px;
    }
}

