.gallery-item {
  @extend %flex-column;
  width: 340px;
  height: 340px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  box-shadow: $gallery-item-box-shadow;
  margin: 0; // Consolidation des marges haut et bas
  transition: transform 0.3s ease;

  img {
    width: 340px;
    height: 340px;
    object-fit: cover;
    transition: transform 0.3s ease; // Ajoutez cette ligne pour une transition fluide sur l'image
  }

  &:hover img {
    transform: scale(1.15); // Zoom sur l'image au survol
  }
}

.gradient-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 30%;
  background: $bg-gallery-item-gradient-overlay;
}

.gallery-item-title-overlay {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: $color-on-dark;
  z-index: 1;
  text-align: left;

  h3 {
    font-size: 18px;
    font-weight: 700;
    line-height: 25.67px;
    margin: 0;
  }
}

@media (min-width: 1241px) {
  .gallery-item:nth-child(-n+3) {
    margin-top: 30px;
  }
  .gallery-item:nth-last-child(-n+1) {
    margin-bottom: 40px;
  }
}

@media (max-width: 1240px) {

  .gallery-item {
    img {
      
    }
  }










  .gallery-item:nth-child(-n+2) {
    margin-top: 30px;
  }
  .gallery-item:nth-last-child(-n+1) {
    margin-bottom: 40px;
  }
}

@media (max-width: #{$tablets-phones}) {

  .gallery-item {
    width: 100%;
    height: 255px;
    margin: 0;

    img {
      width: 100%;
    }
  }

  // Neutralisation des marges spécifiques
  .gallery-item:nth-child(-n+2),
  .gallery-item:nth-last-child(-n+2) {
    margin: 0;
  }
}



