.gallery-item {
  @extend %flex-column;
  width: 340px;
  height: 340px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: white;
  margin-top: 0;
  margin-bottom: 0;

  img {
    width: 340px;
    height: 340px;
    object-fit: cover;
  }
}

.gradient-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 30%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
}

.gallery-item-title-overlay {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white;
  z-index: 1;
  text-align: left;
}

.gallery-item-title-overlay h3 {
  font-size: 18px;
  font-weight: 700;
  line-height: 25.67px;
  margin: 0;
}

@media (min-width: 1241px) {
  .gallery-item:nth-child(-n+3) {
    margin-top: 30px;
  }
  .gallery-item:nth-last-child(-n+1) {
    margin-bottom: 40px;
  }
}

@media (max-width: 1240px) {
  .gallery {
    grid-template-columns: repeat(2, 340px);
    gap: 60px 60px;
  }

  .gallery-item:nth-child(-n+2) {
    margin-top: 30px;
  }

  .gallery-item:nth-last-child(-n+1) {
    margin-bottom: 40px;
  }
}

@media (max-width: #{$tablets-phones}) {
  .gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    gap: 20px;
  }

  .gallery-item {
    width: 335px;
    height: 255px;
    margin: 0; /* Supprime toutes les marges */
  }

  /* Neutralisation des marges spécifiques */
  .gallery-item:nth-child(-n+2) {
    margin-top: 0;
  }

  .gallery-item:nth-last-child(-n+2) {
    margin-bottom: 0;
  }
}



