.header {
  @extend %flex-space-between;
  max-width: 1240px;
  margin: 50px auto;

  .logo-header {
    img {
      width: 210px;
    }
  }

  nav {
    ul {
      @extend %flex-center;
      list-style: none;
      gap: 50px;

      li {
        .nav-link {
          @include typo-nav-xl; 
          @include hover-active;
          text-decoration: none; 
        }
      }
    }
  }

  @media (max-width: #{$tablets}) {
    margin: 30px 0px 30px -10px;
    padding: 0;

    .logo-header {
      img {
        margin-left: 10px;
        width: 145px;
      }
    }
  }

  @media (max-width: #{$small-mobiles}) {
    margin: 30px 10px 25px 20px; // Marges uniformes à gauche et droite pour éviter les valeurs négatives

    .logo-header {
      img {
        margin-left: 0;
        width: 145px;
      }
    }

    nav {
      margin-right: 0;

      ul {
        gap: 10px;

        li {
          .nav-link {
            text-transform: uppercase;
            @include typo-nav-s;
          }
        }
      }
    }
  }
}




