.msg404 {
  margin: 80px 100px;
  text-align: center;

  .NotFound404 {
    @include typo-404-xl;
    margin: 80px 0;
  }

  p {
    @include typo-msg-404-xl;
    margin: 100px 0;
  }

  a {
    @include typo-retour-xl;

    &:visited {
      color: $color-on-light;
    }

    &:hover {
      color: $color-primary;
    }
  }

  @media (max-width: #{$tablets}) {
    margin: 100px 0;

    .NotFound404 {
      @include typo-404-s;
    }

    p {
      @include typo-msg-404-s;
      margin: 80px 30px;
    }

    a {
      @include typo-retour-s;
    }
  }
}

  

