.msg404 {
  margin: 80px 0;
  text-align: center;

  .NotFound404 {
    margin: 80px 0;
    color: $color-primary;
    font-size: 288px;
    font-weight: 700;
  }

  p {
    margin: 100px 0;
    color: $color-primary;
    font-size: 36px;
    font-weight: 500;
  }

  a {
    font-size: 18px;
    font-weight: 500;

    &:visited {
      color: $color-on-light;
    }

    &:hover {
      color: $color-primary;
    }
  }

  @media (max-width: #{$tablets}) {
    margin: 100px 0;

    .NotFound404 {
      font-size: 96px;
    }

    p {
      font-size: 18px;
    }

    a {
      font-size: 14px;
    }
  }
}

  

