.rate-bar {
  @extend %flex-end;
  flex-wrap: wrap;

  img {
    width: 35px;
    height: 35px;
    margin-right: 0;
    margin-top: 5px;
  }

  @media (max-width: #{$tablets}) {
    img {
      width: 18px;
      height: 18px;
    }
  }
}
