.rental-description {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
  padding: 20px 0;
  box-sizing: border-box;

  .rental-header {
    @extend %flex-space-between;
    align-items: flex-start;
    margin-bottom: 30px;

    .left-container {
      flex: 1 1 70%;
      min-width: 200px;
      text-align: left;

      h2 {
        color:$color-primary;
        font-weight: 500;
        font-size: clamp(18px, 4vw, 36px);
        margin: 6px 0 10px;
      }

      p {
        font-size: clamp(14px, 2vw, 18px);
        margin: 0 0 20px;
      }

      .rental-tags {
        @extend %flex-wrap;
        gap: 10px;
      }
    }

    .right-container {
      @extend %flex-column;
      align-items: flex-end;
      flex: 1 1 30%;
      min-width: 200px;
      gap: 10px;
    }
  }

  .collapse-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 80px;

    > div {
      @extend %flex-column;
      flex: 1 1 calc(50% - 80px);
      min-width: 250px;
    }
  }
}

@media (max-width: #{$tablets}) {
  .rental-description {
    padding: 10px;

    .rental-header {
      flex-direction: column;

      .left-container,
      .right-container {
        width: 100%;
      }

      .left-container {
        h2 {
          font-size: 18px;
          line-height: 25.67px;
        }

        p {
          font-size: 14px;
          line-height: 19.96px;
        }

        .rental-tags .tag {
          height: 24px;
          font-size: 10px;
          line-height: 14.26px;
          border-radius: 5px;
        }
      }

      .right-container {
        flex-direction: row-reverse;
        justify-content: space-between;
        margin-top: 20px;
      }
    }

    .collapse-container {
      flex-direction: column;
      gap: 0;
      > div {
        width: 100%;
      }
    }

    .dropdown-btn {
      height: auto;
      font-size: 13px;
      line-height: 18.54px;
      padding: 10px 15px;
    }
  }
}
