
    .tag {
      background-color: $bgc-primary;
      color: $color-on-dark;
      padding: 5px 20px;
      border-radius: 10px;
      font-size: 14px;
      line-height: 20px;
      margin-right: 10px;
      display: inline-block;
    }


  