@charset "UTF-8";
/* Global Styles */
html {
  background-color: #f2f2f2; /* Gris très pâle pour l'extérieur */
  overflow-y: scroll; /* Barre de défilement verticale toujours visible */
}

* {
  margin: 100;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  position: relative;
  z-index: 100;
  font-size: 48px;
  font-weight: 700;
  color: white;
  top: 30%;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  -webkit-text-stroke: 1px black; /* Bordure noire autour des lettres */
  text-stroke: 1px black; /* Bordure noire pour les navigateurs qui le supportent */
}

h2 {
  margin-right: 200px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
  background-color: #fff;
  color: #333;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px; /* Ajoute un léger padding pour que le contenu ne touche pas les bords de l'écran */
}