@charset "UTF-8";
/* Global Styles */
html {
  background-color: #f2f2f2; /* Gris très pâle pour l'extérieur */
  overflow-y: scroll; /* Barre de défilement verticale toujours visible */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
  background-color: #fff;
  color: #333;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}

@media (max-width: 800px) {
  body {
    padding: 0 0;
  }

}





