@charset "UTF-8";//Cette directive rend le fichier CSS autonome du html

html {
  background-color: white;//Fod de la page
  overflow-y: scroll;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-family-base;
}

body {
  @extend %flex-column-center;
  font-family: Arial, sans-serif;
  background-color: $bgc-body;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}

@media (max-width: #{$tablets}) {
  body {
    padding: 0 20px;
  }
}

@media (max-width: #{$small-mobiles}) {
  body {
      padding: 0 10px;
  }
}







