@charset "UTF-8";
/* General Styles */
html {
  background-color: #f2f2f2; /* Gris très pâle pour l'extérieur */
  overflow-y: scroll; /* Barre de défilement verticale toujours visible */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-family-base;
}

body {
  @extend %flex-column-center;
  font-family: Arial, sans-serif;
  background-color: #fff;
  color: #333;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}

@media (max-width: 840px) {
  body {
    padding: 0 0;
  }
}





